.MuiTooltip-popper {
  .MuiTooltip-tooltip {
    background-color: rgba(234, 234, 234, 0.9);
    color: inherit;
    border: 1px solid rgb(180, 180, 180);
    padding: 15px;

    .MapMarkerTooltipContent {
      .title {
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        align-items: center;

        .rank {
          padding-right: 5px;
          font-size: 1.8em;
          color: red;
        }
        
        .name {
          font-size: 1.35em;
        }
      }

      .global-emissions {
        padding-top: 20px;
        font-size: 1.25em;
      }

      .instruction {
        padding-top: 10px;
        font-size: 1.25em;
        color: rgb(255, 92, 92);
      }
    }
  }
}