.Header {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-items: flex-start;

  .logo {
    background-image: url('../../resources/logo2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 90px;
    margin-left: 20px;
  }

  .title {
    color: #b93550;
    flex: 1 0 auto;
  }

  .menu-container {
    padding-right: 20px;
  }

}