.Header {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-items: flex-start;

  .logo {
    background-image: url('../../images/logo2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 65px;
    margin-left: 25px;
  }

  .title {
    color: #b93550;
    flex: 1 0 auto;
    font-size: 2.5em;
    font-weight: 100;
  }

  .menu-container {
    padding-right: 20px;
  }

}